<div class="alert-box alert-box-email">
  <img src="/img/profile.png" alt="">
  <p>Hey,</p> 
  <p>I have an e-mail list. You sign up for it and then occasionally (once every few weeks) I send you an e-mail. Sometimes it's updates from this blog. Sometimes it's other design and development related resources I find useful. It's usually both.</p>
  <p>You sign up for it below. If you hate it you can then un-sign up to it.</p>
  <p><em>Thanks for reading, <br/> - Matt</em></p>
  <input type="text" placeholder="Type your e-mail address and hit enter">
</div>