<div class="menu-overlay">
  <i class="fa fa-close close-overlay"></i>
  <div class="mobile-menu">
    <ul>
      <li>
        <a href="#slider" class="slide-1">
          <img src="/img/png/@2x/flat/workspace.png" alt="">
          <span>Blog</span>
        </a>
      </li>
      <li>
        <a href="#slider" class="slide-0">
          <img src="/img/png/@2x/flat/tie.png" alt="">
          <span>Work</span>
        </a>
      </li>
      <li>
        <a href="#slider" class="slide-2">
          <img src="/img/png/@2x/flat/tower.png" alt="">
          <span>Contact</span>
        </a>
      </li>           
    </ul>
  </div>
</div>