<div>

  <section class="portfolio">
  <div class="portfolio-intro">
    <p>Here is a small sample of my work. <a href="/matt-dunn-resume.pdf">View my resume</a></p>    
  </div>


    <div class="container">

      <div class="portfolio-item">
        <h2>Mad Dog Cafe (2014)</h2>
        <ul class="portfolio-skills">
          <li>HTML &amp; CSS</li>
          <li>WordPress</li>
        </ul>
        <div class="portfolio-link">
          <div class="portfolio-overlay">
            <a href="/mad-dog.html">View details</a>
          </div>
          <a href="/mad-dog.html"><img src="img/portfolio/mad-dog-cafe-1.jpg" alt="
            Mad Dog Cafe" /></a>
        </div>
      </div>

      <div class="portfolio-item">
        <h2>Fleetbit (2013)</h2>
        <ul class="portfolio-skills">
          <li>Design HTML &amp; CSS</li>
          <li>jQuery</li>
          <li>WordPress</li>
          <li>Print design</li>
        </ul>
        <div class="portfolio-slider">
          <img data-lazy="img/portfolio/fleetbit-1.jpg" alt="" />
          <img data-lazy="img/portfolio/fleetbit-2.jpg" alt="" />
          <img data-lazy="img/portfolio/fleetbit-3.jpg" alt="" />
          <img data-lazy="img/portfolio/fleetbit-4.jpg" alt="" />
        </div>
      </div>

      <div class="portfolio-item portfolio-item-aoa">
        <h2>Angle of Attack (2013)</h2>
        <ul class="portfolio-skills">
          <li>User Experience Direction</li>
          <li>HTML &amp; CSS</li>
          <li>WordPress</li>
          <li>Graphics by Noah Hogan</li>
        </ul>
        <div class="portfolio-slider">
          <img data-lazy="img/portfolio/aoa-1.jpg" alt="" />
          <img data-lazy="img/portfolio/aoa-2.jpg" alt="" />
          <img data-lazy="img/portfolio/aoa-3.jpg" alt="" />
        </div>
      </div>

      <div class="portfolio-item">
        <h2>Canadian Parks and Wilderness Society (2010)</h2>
        <ul class="portfolio-skills">
          <li>Design</li>
          <li>HTML &amp; CSS</li>
          <li>ExpressionEngine</li>
          <li>jQuery</li>
          <li>Print</li>
        </ul>
        <div class="portfolio-slider">
          <img data-lazy="img/portfolio/cpaws-1.jpg" alt="" />
          <img data-lazy="img/portfolio/cpaws-2.jpg" alt="" />
          <img data-lazy="img/portfolio/cpaws-3.jpg" alt="" />
        </div>
      </div>

      <div class="portfolio-item">
        <h2>JK Contracting (2012)</h2>
        <ul class="portfolio-skills">
          <li>Design</li>
          <li>HTML &amp; CSS</li>
          <li>WordPress</li>
          <li>jQuery</li>
        </ul>
        <div class="portfolio-slider">
          <img data-lazy="img/portfolio/jkc-1.jpg" alt="" />
          <img data-lazy="img/portfolio/jkc-2.jpg" alt="" />
          <img data-lazy="img/portfolio/jkc-3.jpg" alt="" />
        </div>
      </div>

      <div class="portfolio-item">
        <h2>Readable Project Gutenberg (2014)</h2>
        <ul class="portfolio-skills">        
          <li>Design</li>
          <li>HTML &amp; CSS</li>
          <li>jQuery</li>
          <li>Chrome Extension</li>
        </ul>
        <p>Readable Project Gutenberg is a free chrome extension I wrote to make HTML books on Project Gutenberg easier to read.</p>
        <div class="portfolio-slider">  
          <img data-lazy="img/portfolio/readable-gutenberg.jpg" alt="" />
        </div>
      </div>

<!--       <div class="portfolio-item">
        <h2>Blueberry Interiors (2010)</h2>
        <ul class="portfolio-skills">
          <li>Graphic Design</li>
          <li>HTML &amp; CSS</li>        
          <li>WordPress</li>
        </ul>
        <div class="portfolio-slider">
          <img data-lazy="img/portfolio/blueberry-interiors-1.jpg" alt="" />
        </div>
      </div> -->

      <div class="portfolio-item">
        <h2>Garden Expressions (2009)</h2>
        <ul class="portfolio-skills">
          <li>Graphic Design</li>
          <li>HTML &amp; CSS</li>
          <li>WordPress</li>        
        </ul>
        <div class="portfolio-slider">
          <img data-lazy="img/portfolio/garden-expressions-1.jpg" alt="" />
          <img data-lazy="img/portfolio/garden-expressions-2.jpg" alt="" />
          <img data-lazy="img/portfolio/garden-expressions-3.jpg" alt="" />
        </div>
      </div>

    </div>


  </section>

</div>