{% include head.html %}

<main class="civiclive">
	<h1>CivicLive / Talentova</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos accusantium inventore in placeat dicta tempore nisi cumque facere harum sit accusamus aliquam architecto atque animi fugiat quo quaerat, distinctio?</p>

	<p>I also designed and developed responsive websites for local governments such as <a href="http://www.elkgrovecity.org">Elk Grove</a>,  <a href="http://readyhamptonroads.hosted.civiclive.com">Hampton Roads</a>, and <a href="http://cityofglennheights.hosted.civiclive.com">Glenn Heights</a>. Not everything I did is live yet or was completed, but here's a sample of what I worked on, including wireframes, mock-ups and some finished pages.</p>

<div class="civiclive-gallery">
	<img src="/img/portfolio/intrafinity/casper-1.jpg" alt="">
	<img src="/img/portfolio/intrafinity/casper-2.jpg" alt="">
	<img src="/img/portfolio/intrafinity/casper-3.jpg" alt="">
	<img src="/img/portfolio/intrafinity/casper-4.jpg" alt="">
	<img src="/img/portfolio/intrafinity/elkgrove.jpg" alt="">
	<img src="/img/portfolio/intrafinity/marriott.jpg" alt="">
	<img src="/img/portfolio/intrafinity/mpr-wireframe-1.jpg" alt="">	
	<img src="/img/portfolio/intrafinity/mpr-1.jpg" alt="">
	<img src="/img/portfolio/intrafinity/nlr-wireframe-1.jpg" alt="">
	<img src="/img/portfolio/intrafinity/nlr-wireframe-2.jpg" alt="">

</div>

</main>

{% include footer.html %}      
