{% include head.html %}

<main class="mad-dog">

  <div class="mad-dog-container">
    <section class="clearfix" style="margin-bottom: 5rem;">
      <div class="mad-dog-intro">
        <h1>Mad Dog Cafe</h1> 
        <p class="intro">Mad Dog Cafe is a delicious place to hang out and enjoy some coffee and treats in Riverdale, Toronto. </p>
        <p>They needed a website as simple and minimal as their menu that made it easy for both their employees to update and their prospective customers to use for information.</p>
        <a href="http://maddogcafe.ca" class="visit-website">Visit Website</a>
      </div>
      <div class="browser mad-dog-browser">
        <div class="browser-url">
          http://maddogcafe.ca
        </div>
        <div class="browser-image">
          <img src="/img/portfolio/mad-dog-cafe-home.jpg" />
        </div>    
        <i class="fa fa-spinner fa-spin browser-loader"></i>
      </div>  
    </section>
  </div>

  <section class="mad-dog-gallery clearfix" style="margin-bottom: 3rem;">
    <h2 class="gallery-heading">Gallery</h2>
    <a href="/img/portfolio/mad-dog-contact-animation.gif" title="" class="gallery-lightbox-image">
      <img src="/img/portfolio/mad-dog-contact-animation.gif" />
    </a>
    <a href="/img/portfolio/mad-dog-cafe-soups-salad.jpg" title="" class="gallery-lightbox-image">
      <img src="/img/portfolio/mad-dog-cafe-soups-salad-thumbnail.jpg" />
    </a>
    <a href="/img/portfolio/mad-dog-homepage.jpg" title="" class="gallery-lightbox-image">
      <img src="/img/portfolio/mad-dog-homepage-thumbnail.jpg" />
    </a>
  </section>

  <section class="mad-dog-responsive">
    <div class="container"> 
      <h2>Fully responsive</h2>
      <p>People can be coming to this site from anywhere using any device so it was important to keep all resolutions in mind when developing. The entire site is fluid, adapting to the width of your browser so that the user can always see what's important.</p>
    </div>
    <div class="mad-dog-responsive-devices">
      <div class="phone mad-dog-phone">
        <img src="/img/portfolio/mad-dog-phone-home.png" alt="Mad Dog Cafe phone homepage" />
      </div>
    </div>
  </section>

  <div class="mad-dog-container">
    <section class="mad-dog-wordpress clearfix">  
      <div class="mad-dog-wordpress-intro">
        <h2>Built with WordPress</h2>
        <p>The site was built using WordPress because employees had experience with it in the past and it was easy to customize to their needs exactly</p> 
        <p>A website isn't useful if it's out of date, so we used Advanced Custom Fields to set up sections of their website just for them. This included a special menu area, that made it easy for any employee to update.</p>
        <img src="/img/logos/wordpress.png" alt="WordPress" />    
      </div>
      <div class="mad-dog-wordpress-admin">
        <img src="/img/portfolio/mad-dog-backend.png" alt="" class="mad-dog-wordpress-admin-image" />
      </div>  
    </section>
  </div>

</main>

{% include footer.html %}      
