{% include head.html %}

<main class="wildlands-league">

<section class="wildlands-intro">

  <h1 class="wildlands-intro-heading">Wildlands League</h1>

<div class="container">
  
<p class="intro">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae libero officiis alias maxime. Neque alias nesciunt, reprehenderit iure, esse non natus sint nam voluptatum consequatur cum quos rerum repudiandae aspernatur.
</p>
</div>
<img src="/img/portfolio/wildlands-league-endangered-species-top.jpg" class="wildlands-intro-image" alt="Wildlands League homepage" />

</section>




<section class="clearfix wildlands-process">
  

  <div class="wildlands-tasks">
    <h2 class="wildlands-tasks-heading">Process</h2>
    <ul>
      <li>Wireframes and prototypes</li>
      <li>Donation page</li>
      <li>Something about page templates</li>
      <li>Responsive</li>
      <li>WordPress</li>
    </ul>
  </div>



  <div class="wildlands-league-wireframes">
    <a href="/img/portfolio/wildlands-league-wireframes.png" title="" class="gallery-lightbox-image">
      <img src="/img/portfolio/wildlands-league-wireframes.png" />
    </a>  </div>

</div>

</section>

<section class="wildlands-gallery" style="margin-bottom: 7rem;">
  
  <div class="wildlands-gallery-images">
      <div class="row">
        <img src="/img/portfolio/wildlands-gallery/1.png" alt="" />
        <img src="/img/portfolio/wildlands-gallery/2.png" alt="" />
        <img src="/img/portfolio/wildlands-gallery/3.png" alt="" />
      </div>
      <div class="row">
        <img src="/img/portfolio/wildlands-gallery/4.png" alt="" />        
        <img src="/img/portfolio/wildlands-gallery/5.png" alt="" />
        <img src="/img/portfolio/wildlands-gallery/7.png" alt="" />
    </div>
  </div>

  <div class="wildlands-gallery-text">
    <h3>About the project</h3>    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium harum, rerum reiciendis dignissimos fugiat beatae recusandae enim minus tempore nisi corrupti alias, eaque perspiciatis quaerat repudiandae cumque obcaecati laboriosam.</p>

  <p><a href="http://wildlandsleague.org" class="visit-website">Visit Website</a></p>

  </div>



</section>


<section class="wildlands-responsive">

<div class="container">

  <h3>Responsive Design</h3>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci quam, qui iste ipsum distinctio inventore cum rerum ipsam deserunt enim ducimus doloribus nihil quas et unde, voluptates. In, sit.</p>

</div>

<div class="wildlands-responsive-images">
  <img src="/img/portfolio/wildlands-mobile/mobile-blog.jpg" />
  <img src="/img/portfolio/wildlands-mobile/mobile-project.jpg" />
  <img src="/img/portfolio/wildlands-mobile/mobile-home.jpg" class="active" />    
  <img src="/img/portfolio/wildlands-mobile/mobile-home.jpg" />      
  <img src="/img/portfolio/wildlands-mobile/mobile-blog.jpg" />  
</div>




</section>

<section class="wordpress">
  <div class="container">
    <img src="/img/logos/wordpress.png" alt="" class="wildlands-wordpress-logo" />
    <h3>Built With WordPress</h3>
    <p>We went with WordPress because it's:</p>
    <ul>
      <li>Easy to customize both front and back</li>
      <li>Easy to use for users redundant lol</li>
      <li>Able to be added on to as needed</li>
      <li>People have experience with it</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia soluta, aliquam ab consequatur eos expedita sint iste accusamus doloribus ducimus labore possimus nisi reiciendis incidunt quia unde sequi delectus, non?</p>  
  </div>
</section>

</main>

{% include footer.html %}      
